#login-logo {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 150px;
}

.warning {
  background-color: transparent;
  color: red;
  text-align: center;
  font-size: 1.25em;
}

p.item-info {
  text-align: center;
  font-size: 1.2em;
}

#question {
  text-align: center;
}
